/* slide section */

html,body{
    margin: 0%;
    width: 100%;
    height: 100%;

    
}
.slide{
    z-index: -1;
}
.carousel-item img{
    width: 100vh;
    height: 95vh;
}
.wave img{
    width: 100%; 
    z-index: 1 ;
    margin-top:-30%;
}
.bg-putih{
    background-color: white;
    margin-top: -2%;
    width: 100%;
    min-height: 80px;
}
.cover-hitam{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(27, 27, 27, 0.4);
}
.text-hero{
    margin-top: 20%; 
    padding:10;
    position: absolute;
    z-index: 1;
    color: white;
}
/* end section */

/* hero section */

#pawiwahan{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 20px;
}
#pp{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 115px;
}
.span-tgl{
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    border-style:solid; 
    border-radius:10px;
    padding: 2px 25px;
}


/* end hero section */

/* pengantar */
.kata-pengantar{
    z-index: 1;
    margin-top:-1%;
    min-height: 500px;
}
.pengantar{
    margin-top: 7%;
}
.swastyastu{
    width:25%;
}
#pengantar{
    margin-top: 5%;
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
}
#pengantar p{
    width: 75%;
}
/* end pengantar */

/* pawiwahan */
.pawiwahan{
    margin-top: 12%;
    min-height: 400px;
}
.jpaw{

    font-family: 'David Libre';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 10px;
}
#purnama{
    margin-right: -6%;
}
#purni{
    margin-left: -5%;
}
.ormerak2 img{
    margin-bottom: 2%;
}
.dan{
    margin-top: -200px;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    color: #B38A3B;
}
.pur img{
    width: 74%;
}
.pur h1{
    font-family: 'Damion';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color:black;
}
.pur p{
    font-family: 'Damion';
    font-style: normal;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color:#454545;
}
.jmep{
    margin-top: 10%;
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 10px;
}
#maniko{
    width: 30%;
}

.bahagia
{
    margin-top: 72px;
}

.bahagia .wrapjam 
{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */
    
    text-align: center;
    margin-top: 10%;
    color: #4E4E4E;
    
}
.bahagia .wrapjam #menuju
{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */
    
    text-align: center;
    margin-top: 10%;
    color: #4E4E4E;
    
}

.bahagia .jam
{
    margin-top: 103px;
}

.bahagia .jam .kotak
{
    background: #B38A3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 171px;
    height: 118px;
}

.bahagia .jam .garis
{
    height: 82px;
    margin-left: 45px;
    margin-right: 45px;
    border-right: 5px solid #6B6B6B;
}

.bahagia .jam .kotak span
{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    
    color: #FFFFFE;
}
.bahagia .jam .kotak h3
{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    
    color: #FFFFFE;
}

.bahagia .wrapjam .doa
{
    margin-top: 10%;
}
.bahagia .wrapjam .doa span
{
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    
    color: #272727;
}

.bahagia .wrapjam .doa #kami
{
    margin-top: 10%;
}

.bahagia .wrapjam .orangtua
{
    margin-top: 5%;
}
.bahagia .wrapjam .orangtua span
{
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #B38A3B;
}
.bahagia .wrapjam .orangtua .bawa #bawa
{
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 15%;
    color: #383838;
}

.bahagia .wrapjam .orangtua .nun #nun
{
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 10%;
    color: #383838;
}


.bahagia .acara h1
{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 53px;
    margin-top: 2%;
    margin-bottom: 5%;
    color: #313030;
}

.bahagia .acara .lokasi
{
    width: 678px;
    height: 614px;
    background: #FFFDFD;
    box-shadow: 0px 0px 37px -5px rgba(0, 0, 0, 0.3);
    border-radius: 90px;
}
.bahagia .acara .lokasi #resep
{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    
    color: #B38A3B;
    
}
.bahagia .acara .lokasi .resep .waktu h1
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: right;
    
    color: #383838;
}
.bahagia .acara .lokasi .resep .waktu #br
{
    width: 60%;
    text-align: left;
}
.bahagia .acara .lokasi .resep .waktu .iconify
{
    width: 44px;
    height: 47.14px;
    margin-right: 10%;
}


.shanti .om 
{
    margin-top: 10%;
}

.wrapjam .shanti .bgom .ya
{
    content: "";
    background: url(/public/image/bgshanti.svg) no-repeat;
    background-position: center; 
    height: 180%;
}
.wrapjam .shanti .bgom
{
    margin-top: 10%;
}
.wrapjam .shanti .bgom .weda
{
    margin-top: -2%;
}
 .wrapjam .shanti .bgom  h1
{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;
    color: #1F1E1E;
    width: 69%;
}

.wrapjam .shanti .bgom .weda h2
{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;
    color: #B38A3B;
    
}


/* end pawiwahan */
@media screen and (max-width:992px) {
    #purnama{
        margin-right: 0;
    }
    #purni{
        margin-left: 0;
    }
    .dan{
        margin-top: 0;
        font-weight: 700;
        font-size: 80px;
        line-height: 115px;     
    }
    #maniko{
        width: 70%;
    }
}
@media screen and (max-width:576px) {
    .dan{
        margin-top: 0;
        font-weight: 700;
        font-size: 60px;
        
    }
    
}

.carousel-item{
    animation: fade 8s infinite;
}
.carousel-item{
    animation: fade 8s infinite;
}
.carousel-item{
    animation: fade 8s infinite;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}