/* hero section */
.slide{
    z-index: -1;
}
.text-hero{
    margin-top: 10%; 
    padding:10;
    position: absolute;
    z-index: 1;
    color: white;
}
#pawiwahan{
    font-family: 'David Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 20px;
}
#pp{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 115px;
}
.span-tgl{
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    border-style:solid; 
    border-radius:10px;
    padding: 2px 25px;
}
.cover-hitam{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 733px;
    background: rgba(27, 27, 27, 0.4);
}
.wave img{
    width: 100%; 
    z-index: 1 ;
    margin-top:-72%;
}
.kata-pengantar{
    z-index: 1;
    margin-top:-24%;
    min-height: 500px;
    background-color: white;
}
.pengantar{
    margin-top: 7%;
}
.ormerak{
    width:35%;
}
.swastyastu{
    width:25%;
}
#pengantar{
    margin-top: 5%;
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
}
#pengantar p{
    width: 75%;
}

/* end hero section */
@media screen and (min-width:768px) {
   
    
}